@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";
@import "./components/new";
@import "./components/heart";
@import "./components/loader";
@import "./components/selectDish";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";

@import "./pages/accueil";
@import "./pages/menu";
