.header {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  &__arrow {
    position: absolute;
    left: 1em;
    color: black;
  }
  &__titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 70%;
    &__title {
      font-family: $logoAndTitle;
      font-weight: 500;
      font-size: 3rem;
      @include for-size(280px, x-large);
    }
  }
}
