.button {
  width: 60%;
  height: 50px;
  color: white;
  border-radius: 30px;
  border: transparent;
  background: linear-gradient(170deg, $colour-secondary, $colour-primary);
  font-size: medium;
  font-style: normal;

  &__marginBottom {
    margin-bottom: 60px;
  }
}
