.button {
  width: 60%;
  height: 50px;
  color: white;
  border-radius: 30px;
  border: transparent;
  background: linear-gradient(170deg, $colour-secondary, $colour-primary);
  font-size: medium;
  font-style: normal;
  box-shadow: 0px 2px 5px rgb(189, 189, 189);
  &__marginBottom {
    margin-bottom: 60px;
  }

  &:active {
    box-shadow: 0px 10px 10px rgb(146, 146, 146);
    background: linear-gradient(170deg, #9d78c9, #fc9fe2);
  }
}
