.localisation {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: rgb(237, 237, 237);
  font-weight: 900;
  color: rgb(59, 59, 59);
  box-shadow: inset 0px 3px 5px rgb(178, 178, 178);
  opacity: 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }

  &__div {
    padding-left: 25px;
    box-shadow: inset;
    font-family: "Roboto", sans-serif;
  }
}

.exploration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 375px;
  background-color: rgb(246, 246, 246);
  text-align: center;
  opacity: 0;
  &__title {
    font-weight: 900;
    font-size: bold;
    width: 60%;
  }

  & > div {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.functioning {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
  opacity: 0;

  &__global {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  &__title {
    align-self: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 350px;
    position: relative;
    margin: 10px;
    &__number {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $colour-primary;
      height: 25px;
      width: 25px;
      border: 5px solid $colour-primary;
      color: white;
      font-size: small;
      position: absolute;
      left: 0;
      z-index: 50;
    }
    &__section {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 5px rgb(189, 189, 189);
      width: 95%;
      border-radius: 15px;
      border: transparent;
      background-color: rgb(246, 246, 246);
      height: 70px;
      &:hover {
        background-color: #f1e6ff;
        & i {
          color: $colour-primary;
        }
      }

      &__text {
        display: flex;
        font-family: "Roboto-bold", sans-serif;
        font-weight: bold;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        font-size: 1.5rem;
        &__padding {
          margin-right: 10px;
        }
        &__icon {
          color: rgb(151, 151, 151);
        }
      }
    }
  }
}

.restaurant {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 246);
  justify-content: space-around;
  opacity: 0;

  &__global {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  & a {
    color: black;
    text-decoration: none;
  }

  &__title {
    align-self: flex-start;
    padding-left: 20px;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 300px;
    width: 90%;
    margin: 10px;
    max-width: 450px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 5px rgb(189, 189, 189);

    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30%;

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bolder;
        height: 100%;
        padding-left: 20px;

        & h3 {
          font-size: 2rem;
          @media screen and (max-width: 280px) {
            font-size: small;
          }
        }

        & > div {
          @media screen and (max-width: 280px) {
            font-size: small;
          }
        }
      }
    }
    & a {
      display: inline-block;
      height: 70%;
      width: 100%;
    }

    & img {
      height: 100%;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      object-fit: cover;
    }

    & i {
      padding-right: 30px;
    }
  }
}
