.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    object-fit: cover;
  }

  & button {
    align-items: center;
  }

  &__container {
    z-index: 10;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgb(240, 240, 240);
    margin-top: 250px;
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  & button {
    align-self: center;
  }

  &__block {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__categorie {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 95%;
      height: 320px;
      &__title {
        align-self: flex-start;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        &__border {
          width: 50px;
          border-bottom: 3px solid $colour-tertiary;
        }
      }

      &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
      }
      &__dish {
        text-decoration: none;
        display: flex;
        color: black;
        width: 90%;
        max-width: 450px;
        height: 80px;
        margin: 5px;
        border-radius: 20px;
        background-color: white;
        overflow: hidden;
        box-shadow: 0px 2px 5px rgb(189, 189, 189);
        opacity: 0;
        animation: transition 1s ease-in-out 0.5s forwards;

        &__2 {
          animation: transition 1s ease-in-out 1s forwards;
        }

        &__3 {
          animation: transition 1s ease-in-out 1.5s forwards;
        }

        &__description {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: space-around;
          font-size: medium;
          &__title {
            padding-left: 10px;
            display: flex;
            font-weight: bold;
            @media screen and (max-width: 280px) {
              font-size: small;
            }
          }
          &__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__complement {
              padding-left: 10px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              @media screen and (max-width: 280px) {
                font-size: xx-small;
              }
            }
            &__price {
              font-weight: 900;
              font-size: small;
              padding-right: 10px;
            }
          }
        }

        &:hover {
          & .selectDish {
            animation: selectdish 0.5s;
            animation-fill-mode: forwards;
            & > i {
              animation: checkRotation 0.5s 0s;
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
  }
  & img {
    position: absolute;
    z-index: 0;
    height: 300px;
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    font-family: $logoAndTitle;
    font-weight: 500;
    font-size: 2rem;
    @media screen and (min-width: 390px) {
      font-size: 3rem;
    }

    & > div {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    & i {
      display: flex;

      align-items: center;
    }
  }
}

@keyframes selectdish {
  0% {
    width: 0px;
  }

  100% {
    width: 80px;
  }
}

@keyframes checkRotation {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
